body {
  min-height: 2000px;
}

.home {
  padding-top: 12rem;
  background-color: #f4f6fa;
  /* position: relative;
  background: #000 url("img/portfolio/7.jpg") center center;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden; */
}

#portfolio {
  background-color: #f4f6fa;
}

/* #experience {
  background-color: #f1f5f1;
} */

section {
  padding-top: 9rem;
}

.para {
  font-family: "Monsterrat", "sans-serif";
  font-size: 24px;
  text-align: justify;
}

.lead {
  font-family: "Monsterrat", "sans-serif";
  font-size: 22px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0 1rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
}

.socials a:hover i {
  color: aqua;
}

.p1 {
  font-family: "Monsterrat", "sans-serif";
  font-size: 18px;
  margin-top: 2%;
}

.p2 {
  font-family: "Monsterrat", "sans-serif";
  font-size: 18px;
  margin-top: 2%;
  text-justify: auto;
}

.p3 {
  font-family: "Monsterrat", "sans-serif";
  font-size: 24px;
  color: black;
}

.highlight-word-color {
  color: #065c58;
}

.highlight-word2-color {
  color: #065c58;
}
.highlight-word3-color {
  color: #23b7a0;
}
.highlight-word4-color {
  color: #3d8bb7;
}

.frame {
  width: 90%;
  /* margin: 10px auto; */
  text-align: left;
}

.custom-btn {
  width: 150px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* 9 */
.btn-9 {
  border: none;
  transition: all 0.3s ease;
  overflow: hidden;
}
.btn-9:after {
  position: absolute;
  content: " ";
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1fd1f9;
  background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
  transition: all 0.3s ease;
}
.btn-9:hover {
  background: transparent;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
  color: #fff;
}
.btn-9:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.5), inset 4px 4px 6px 0 rgba(116, 125, 136, 0.3);
}
